<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kotlin_Tutorial"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Kotlin_Tutorial">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.DialogPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AppBarPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ToggleButtonsPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SwitchPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.RadioButtonsPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CheckBoxPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NavigationDrawer.SimpleNavDrawer"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NavigationDrawer.CustomNavDrawer"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NavigationDrawer.NavDrawer"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BottomNav.Custom.CustomBottomNav"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BottomNav.Simple.SimpleBottomNav"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BottomNav.BottomNavigationPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ProgressIndicatorPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ListGridPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditTextFieldPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ButtonPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ColumnPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.RowPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TextFieldPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ImageFieldPage"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>